body {
  box-sizing: border-box;
}

.custom-bg {
  background-color: rgb(138, 251, 251);
}

.custom-img-div {
  width: 100px;
  height: 100px;
}


.custom-card:hover{
  background-color: #D3D3D3;
  box-shadow: 2px 4px 4px slategray;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.custom-images {
  width: 100px;
  aspect-ratio: 4/3;
}

h4 {
  margin: 0px;
  padding: 0px;
  display: inline;
}
p {
  margin: 0px;
}

.custom-container {
  width: 60%;
  height: 200px;
}

.low-uvi {
  background-color: #6aa84f;
  font-weight: bold;
  border-radius: 3px;
}
.mid-uvi {
  background-color: yellow;
  font-weight: bold;
  border-radius: 3px;
}
.high-uvi {
  background-color: orangered;
  font-weight: bold;
  border-radius: 3px;
}
.very-high-uvi {
  background-color: red;
  font-weight: bold;
  border-radius: 3px;
}
.ultra-uvi {
  background-color: purple;
  font-weight: bold;
  border-radius: 3px;
}
.tooltips {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltips .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 40%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltips .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltips:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
